---

import project1 from "../../assets/images/projects/project1-image.png";
import project2 from "../../assets/images/projects/project2-image.png";
import project3 from "../../assets/images/projects/project3-image.png";
import type {imageMetadata} from "astro/assets/utils";
import { Image } from "astro:assets";

type ProjectItem =
  | {
      type: 'image';
      imgSrc: ImageMetadata;
      alt: string;
    }
  | {
      type: 'stat';
      bg: string;
      value: string;
      title: string;
      description: string;
      textColor: string;
      spanRows?: number;
    };

/* Add any projects orr stats needed */
export const projects: ProjectItem[] = [
  {
    type: 'stat',
    bg: 'bg-gradient-to-br from-[#0F172A] to-[#1E293B]',
    value: '25%',
    title: 'Conversion Rate Boost',
    description: 'Experience increased sales and engagement.',
    textColor: 'text-white',
    spanRows: 2,
  },
  {
    type: 'image',
    imgSrc: project1,
    alt: 'Insert alt',
  },
  {
    type: 'image',
    imgSrc: project3,
    alt: 'Insert alt',
  },
  {
    type: 'stat',
    bg: 'bg-gradient-to-br from-[#CBD5E1] to-[#94A3B8]',
    value: '90%',
    title: 'Client Satisfaction Rate',
    description: 'Join our happy clients today!',
    textColor: 'text-slate-900',
  },
  {
    type: 'stat',
    bg: 'bg-gradient-to-br from-[#D1FAE5] to-[#6EE7B7]',
    value: '200+',
    title: 'Stores Optimized Successfully',
    description: 'Trusted by top eCommerce brands.',
    textColor: 'text-emerald-900',
  },
  {
    type: 'image',
    imgSrc: project2,
    alt: 'Insert alt',
  },
];

---

<section class="scroll-animation py-20">
  <div class="col">
      <h1 class=" mb-3 text-center">Featured Builds</h1>
      <p class="text-center">A glimpse at how we turn ideas into high-performing e-commerce brands.</p>

      <div class="max-w-6xl mx-auto p-6 grid grid-cols-1 md:grid-cols-3 grid-rows-2 gap-6">
          {projects.map((item) => (
          item.type === 'stat' ? (
              <div class={`p-6 cursor-pointer rounded-xl flex flex-col justify-between ${item.bg} ${item.spanRows ? 'row-span-2' : ''}`}>
                <div class={`text-5xl font-bold ${item.textColor}`}>{item.value}</div>
                <div class="mt-6">
                    <div class={`font-semibold ${item.textColor}`}>{item.title}</div>
                    <div class={`text-sm ${item.textColor}/80`}>{item.description}</div>
                </div>
              </div>
          ) : (
                <div class=" cursor-pointer rounded-xl overflow-hidden aspect-[16/9] bg-gray-100"> {/* remove bg-gray-100 if needed */}
                  <Image src={item.imgSrc} alt={item.alt} class="w-full h-full object-contain rounded-xl"  loading="lazy"/>
                </div>
          )
          ))}
      </div>
    </div>
</section>
  